.backimg {
  background-position: center center;
  height: auto !important;
  display: flex;
  min-height: calc(100vh - 190px);
  align-items : center ;
  justify-content : center;
  text-align: center;
  margin: 0;
  border-radius: 0;
}
.headcont{
  display: table-row-group;
}

.centralbut {

  margin: auto;
  width: 200px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  color: aliceblue;
  background-color: forestgreen;
}
.headtitle {
  font-family: "Dubai Medium", serif;
  font-size: 100px;
  color: white;
}
.phone {
  min-height: calc(100vh - 150px);
}
.products {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: auto !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  background: aqua;
  box-shadow: none;
}
.phonegrid {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
