<mat-card class="content" color="warn">

  <mat-card-title class="head-title">
    O nas
  </mat-card-title>
  <mat-card-title>

    Nasza historia rozpoczęła się w 2002 roku z
    chwilą otwarcia pierwszego salonu stacjonarnego.
    Od tej pory nieustannie się rozwijamy, dzięki czemu staliśmy się ekspertami w branży komputerowej.
    Łączymy empatię i technologię, co pozwala nam lepiej rozumieć potrzeby Klientów. Jesteśmy otwarci na sugestie i
    oferujemy rozwiązania,
    zapewniające 100% satysfakcji.
  </mat-card-title>


  <mat-grid-list (window:resize)="onResize($event)" [cols]="breakpoint" rowHeight="2:1">

    <mat-grid-tile>
      <mat-card class="noSha">
        <mat-card-header style="margin-bottom: 20px; justify-content: center">
          <mat-card-title>Stawiamy na jakośc</mat-card-title>
        </mat-card-header>
        Twoja satysfakcja jest najważniejsza
        Od początku działalności priorytetem jest dla nas zadowolenie naszych Klientów. Właśnie to wyróżnia nas na tle
        konkurencji.
        Możemy pochwalić się setkami pozytywnych komentarzy na nasz temat oraz nagrodami, które otrzymaliśmy za sprawą
        zadowolonych Klientów.
      </mat-card>

    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="noSha">
        <mat-card-header style="margin-bottom: 20px; justify-content: center">
          <mat-card-title>O grupie</mat-card-title>
        </mat-card-header>
        Kiedy rozpoczynaliśmy naszą działalność, nie mieliśmy pojęcia, jaki drzemie w niej potencjał.
        Zawsze jednak mierzyliśmy wysoko, stawiając na nieustanny rozwój. W ciągu 17 lat z małego sklepu z ksiązkami
        staliśmy się grupą stabilną.
        Każda prezentuje inną ofertę, jednak nasze wartości są niezmienne, a w centrum uwagi pozostaje satysfakcja
        Klienta.
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-card-title style="text-align: left">
    <p style="font-size: 40px">
      Dane Firmy:
    </p>

    <p style="font-size: 20px">
      <br>
      Lib sp. z o.o.
      <br>
      ul. Stróża 3
      <br>
      11-111 Kraków
      <br>
      NIP: **********, REGON: *********
      <br>
      Konto bankowe: <br>
      ** **** **** **** **** **** ****
      - Bank Polski / Kraków
      <br>
      <br>
      Prosimy o dokonywanie przelewów za zamówienie,
      dopiero po potwierdzeniu przez nas dostępności towaru.
    </p>

  </mat-card-title>

</mat-card>

