<mat-card>
  <p style="text-align: center; font-size: 30px">
    Regulamin zakupów
  </p>


  <p class="cen">Księgarnia Lib jest platformą prowadzoną przez spółkę: </p>

  Lib Sp. z o.o. <br>
  ul. Stróża <br>
  NIP: **********, REGON: ********* <br>
  Wysokość kapitału zakładowego: 4 528 000,00 zł <br>

  SŁOWNICZEK: <br>

  Dni robocze – wszystkie dni tygodnia od poniedziałku do piątku. Dni ustawowo wolne
  od pracy nie są uwzględniane.<br>

  Czas realizacji zamówienia – jest to czas, w jakim Lib.pl dokona skompletowania
  i wysłania zamówienia lub dokona skompletowania i dostarczenia zamawianych książek lub płyt do punktu odbioru zamówień.<br>

  Punkt odbioru zamówień – jest to lokal przedsiębiorstwa Biblioteki, w którym można
  odbierać towary zarezerwowane do zakupu osobistego przez Klienta. Adresy Punktów odbioru zamówień wskazane są na stronie Lib.pl. między innymi w zakładce "Kontakt".<br>

  Faktura Pro-Forma – faktury takie są wystawiane w celu uzyskania wpłaty lub jako
  potwierdzenie zamówienia. Nie są natomiast dowodami księgowymi, o których mowa w § 12 ust. 3 rozporządzenia Ministra Finansów w sprawie
  prowadzenia podatkowej księgi przychodów i rozchodów (Dz. U. z 2003 r. nr 152, poz. 1475 ze zm.)<br>

  Konsument – Klient, będący osobą fizyczną który zawarł umowę na odległość lub poza
  lokalem przedsiębiorstwa w celu niezwiązanym bezpośrednio ze swoją działalnością zawodową lub gospodarczą.<br>

  Umowa zawarta na odległość – umowa zawarta z konsumentem w ramach zorganizowanego
  systemu zawierania umów na odległość, bez jednoczesnej fizycznej obecności stron, z
  wyłącznym wykorzystaniem jednego lub większej liczby środków porozumiewania się na odległość do chwili zawarcia umowy włącznie.<br><br>

  <p class="cen">§ 1. Warunki realizacji zamówienia<br></p>

  Zamówienia można składać:<br><br>

  1. 24 godziny na dobę za pośrednictwem strony internetowej lib.pl<br>

  2. W punktach odbioru zamówień<br>

  3. Telefonicznie (Dział Obsługi Klienta)<br>

  Informacje zawarte na stronie internetowej sklepu nie są ofertą w rozumieniu art. 66 Ustawy z
  dnia 23 kwietnia 1964 roku - Kodeks cywilny (dalej: "Kodeks cywilny"), lecz zaproszeniem do składania ofert
  w rozumieniu art. 71 Kodeksu cywilnego. Klient zostaje powiadomiony o przyjęciu zamówienia do realizacji
  poprzez otrzymanie wiadomości e-mail na adres podany w formularzu. Jeżeli produkt jest niedostępny lub
  realizacja zamówienia jest niemożliwa z innej przyczyny, Klient zostanie powiadomiony niezwłocznie o braku możliwości realizacji zamówienia.<br>

  Co do zasady momentem zawarcia umowy sprzedaży pomiędzy Klientem a Lib.pl jest chwila otrzymania
  przez Klienta powiadomienia o przyjęciu zamówienia do realizacji.<br>

  W przypadku zamówień wysyłkowych, towar jest wysyłany na adres wskazany przez Klienta w zamówieniu.
  Wymagany jest kompletny adres z kodem pocztowym, na który ma być wysłane zamówienie oraz numer telefonu kontaktowego osoby odbierającej przesyłkę.<br>

  Dokument sprzedaży (paragon lub faktura) wysyłany jest w formie elektronicznej na podany przez Klienta adres
  e-mail lub jako wiadomość SMS na podany podczas składania zamówienia numer telefonu komórkowego.<br><br>

  <p class="cen">§ 2. Ceny produktów<br></p>

  1. Ceny na stronie Bonito.pl zawierają podatek VAT i podawane są w złotych polskich.<br>

  2. Ceny znajdujące się przy każdej książce lub płycie, nie zawierają kosztów dostawy.<br>

  3. Ceną wiążącą i ostateczną jest cena produktu podana na stronie Bonito.pl w chwili składania
  zamówienia przez Klienta, dodatkowo potwierdzona w Koszyku i w wiadomości e-mail potwierdzającej złożenie zamówienia.
  Informacja na temat całkowitej kwoty do zapłaty (z ewentualnym kosztem dostawy) przedstawiana jest po dokonaniu przez
  Klienta wyboru formy dostawy zamówienia i formy płatności. Koszt dostawy (jeśli wystąpi) doliczany jest proporcjonalnie do
  cen książek na fakturze lub paragonie.<br><br>

  <p class="cen">§ 3. Modyfikacja zamówienia<br></p>

  1. Zmian w zamówieniu Klient może dokonywać do momentu spakowania paczki.<br>

  2. Zmian można dokonać kontaktując się z Działem Obsługi Klienta (patrz: zakładka "Kontakt")<br>

  3. Zmiany mogą dotyczyć rezygnacji z części lub całości zamówienia. Jeżeli zapłata za towar została dokonana
  z góry to zwrot należności nastąpi na konto Klienta (w terminie do 7 dni), z którego płatność została dokonana.<br><br>

  <p class="cen">§ 4. Formy płatności<br></p>

  Zapłaty za zamówienia można dokonać:<br>

  Gdy zamówienie jest odbierane w punktach odbioru zamówień:<br>

  1. Osobiście gotówką lub kartą - w przypadku, gdy zamówienie jest odbierane w Punkcie Odbioru Zamówień<br>

  Gdy zamówienie ma być wysłane:<br>

  1. Osobiście gotówką (pobranie) - przy odbiorze zamówienia od pracownika firmy przewozowej wykonującej usługę
  dostarczenia paczki.<br>

  2. Poprzez system szybkich przelewów elektronicznych.<br>

  3. Przelewem bankowym na konto: Bank: ** **** **** **** **** **** ****<br>

  Aby uniknąć opóźnień w księgowaniu i w celu prawidłowego zidentyfikowania przelewu, w tytule należy podać
  numer zamówienia.<br>
  Realizacja zamówienia zostanie rozpoczęta, po otrzymaniu przez Bonito.pl zapłaty za zamówienie.<br><br>

  <p class="cen">§ 5. Czas realizacji zamówień<br></p>

  Czas realizacji zamówienia jest podawany przy każdej pozycji. Jest to orientacyjny czas
  liczony od momentu przyjęcia zamówienia do realizacji do chwili wysłania paczki lub dostarczenia
  zamawianych pozycji do punktu odbioru zamówień. W przypadku gdy w zamówieniu znajdują się pozycje
  , dla których czas realizacji zamówienia jest różny, wtedy zamówienie jest realizowane tak jak
  pozycja, na którą trzeba czekać najdłużej. W razie niemożliwości realizacji zamówienia w terminie
  określonym pierwotnie na stronie sklepu, Klient zostanie o tym niezwłocznie poinformowany wraz z
  określeniem nowego terminu realizacji zamówienia, nie dłuższego jednak niż 30 dni od dnia otrzymania
  zamówienia. Klient może w takim przypadku zrezygnować z zamówienia, a także strony mogą umówić się na
  dłuższy termin realizacji zamówienia.<br><br>

  <p class="cen">§ 6. Warunki reklamacji<br></p>

  Lib.pl zobowiązuje się dostarczyć Klientowi zamówioną rzecz bez wad fizycznych,
  zmniejszających jej wartość lub użyteczność, o właściwościach, o których klient został
  zapewniony w trakcie składania zamówienia oraz w stanie zupełnym, jak również prawnych.<br>

  Aby zgłosić reklamację, należy skontaktować się z Działem Obsługi Klienta telefonicznie lub e-mailem (patrz: zakładka "Kontakt").<br>

  Lib.pl w ciągu 7 dni roboczych ustosunkuje się do reklamacji Klienta.<br>

  Warunki rozpatrzenia reklamacji:<br>

  1. Dostarczenie wadliwej książki lub płyty wraz z dowodem zakupu lub
  jego kopią do punktu odbioru zamówień, z którego była odbierana, lub gdy było to zamówienie wysyłkowe, należy odesłać wadliwy towar na adres:<br>

  Lib.pl - Magazyn<br>
  Kraków MG Centre<br>
  ul. Stróża 3<br>
  11-111 Kraków<br>
  z dopiskiem "reklamacja".<br>

  2. W przypadku rozpatrzenia reklamacji na korzyść Klienta – Bonito.pl wymieni Klientowi
  reklamowany towar na pełnowartościowy i odeśle na własny koszt, chyba, że możliwa będzie naprawa towaru
  i Klient takiej naprawy zażąda. W przypadku braku możliwości naprawy i wymiany towaru (np. z powodu wyczerpania nakładu), Klient ma prawo odstąpić od
  umowy, a Bonito.pl zwróci Klientowi całkowitą należność za reklamowany towar w terminie 14 dni. Klient może również – zamiast odstępowania od umowy - żądać stosownego obniżenia ceny.<br>

  3. Przesyłki za pobraniem nie będą przyjmowane. Koszt wysyłki reklamowanego towaru zostanie zwrócony Klientowi przez Lib.pl przelewem na rachunek bankowy podany przez Klienta.<br><br>

  <p class="cen">§ 7. Prawo odstąpienia od umowy / zwrot towaru<br></p>

  1. Zgodnie z treścią Ustawy z dnia 30 maja 2014 roku o prawach konsumenta - Klient, będący osobą fizyczną który zawarł umowę
  na odległość lub poza lokalem przedsiębiorstwa w celu niezwiązanym bezpośrednio ze swoją działalnością zawodową lub gospodarczą (Konsument)
  może w terminie 14 dni od daty odebrania przesyłki od niej odstąpić bez podawania przyczyny i bez ponoszenia kosztów, z wyjątkiem kosztów dostarczenia
  rzeczy w przypadku, gdy Klient wybrał sposób dostarczenia rzeczy inny niż najtańszy zwykły sposób dostarczenia oferowany przez Bonito.pl. W sytuacji opisanej w
  zdaniu poprzedzającym Lib.pl nie jest zobowiązane do zwrotu Klientowi poniesionych przez niego dodatkowych kosztów (ponad kwotę najtańszego zwykłego sposobu dostarczenia oferowanego przez Lib.pl).<br>

  2. W celu odstąpienia od umowy Klient powinien złożyć Bonito.pl na piśmie oświadczenie o odstąpieniu od umowy wraz
  z przesłaniem dowodu zakupu, jego kopii lub co najmniej podaniem numeru zamówienia, a następnie niezwłocznie dokonać zwrotu towaru w stanie niepogorszonym do Lib.pl na adres:<br>

  Lib.pl - Magazyn<br>
  Kraków MG Centre<br>
  ul. Stróża 3<br>
  11-111 Kraków<br>
  z dopiskiem "zwrot".<br>

  Zwrotu towaru należy dokonać nie później niż 14 dni od dnia, w którym Klient odstąpił od Umowy.<br>

  Klient może skorzystać ze wzoru formularza odstąpienia od umowy, który stanowi Załącznik nr 1
  do niniejszego Regulaminu. Skorzystanie ze wzoru formularza odstąpienia od umowy nie jest obowiązkowe.<br>

  Wzór formularza odstąpienia od umowy wraz ze szczegółowym Pouczeniem o prawie odstąpienia
  od umowy, stanowiącym Załącznik nr 2 do niniejszego Regulaminu jest przesyłany także przez Bonito.pl
  Klientowi każdorazowo wraz z potwierdzeniem warunków złożonego zamówienia, zarówno w formie e-mail na
  adres podany przez Klienta przy składaniu zamówienia oraz w formie pisemnej (papierowej) wraz z przesyłką.<br>

  3. Do zachowania 14 dniowego terminu wystarczy wysłanie oświadczenia przed jego upływem.<br>

  4. Niezwłocznie po otrzymaniu oświadczenia o odstąpieniu od Umowy, Bonito.pl prześle Klientowi potwierdzenie
  jego otrzymania na piśmie lub na podany przez Klienta w oświadczeniu adres e-mail (po wyraźnym zaznaczeniu takiej opcji – patrz: Załącznik nr 1).<br>

  5. Lib.pl niezwłocznie, nie później jednak niż w terminie 14 dni od dnia otrzymania oświadczenia Klienta o odstąpieniu
  od umowy, zwróci Klientowi wszystkie dokonane przez niego płatności, w tym koszty dostarczenia rzeczy, z zastrzeżeniem §7 ust. 1 niniejszego Regulaminu.<br>

  6. Lib.pl dokona zwrotu płatności przy użyciu takiego samego sposobu zapłaty, jakiego użył Klient, chyba
  że Klient wyraźnie zgodzi się na inny sposób zwrotu, który nie wiąże się dla niego z żadnymi kosztami.<br>

  7. Lib.pl zastrzega sobie prawo do wstrzymania się ze zwrotem płatności otrzymanych od Klienta do chwili
  otrzymania rzeczy z powrotem lub dostarczenia przez Klienta dowodu jej odesłania, w zależności od tego które zdarzenie nastąpi wcześniej.<br>

  8. Konsument ponosi odpowiedzialność za zmniejszenie wartości rzeczy będące wynikiem korzystania z niej
  w sposób wykraczający poza konieczny do stwierdzenia charakteru, cech i funkcjonowania rzeczy. Płyty CD, płyty DVD,
  programy komputerowe zapisane na nośnikach muszą być zwracane w oryginalnym, nienaruszonym opakowaniu (nieusunięta folia,
  niezniszczone pudełko). W przypadku, gdy opakowanie płyt CD, płyt DVD, programów komputerowych zapisanych na nośnikach zostało
  naruszone (usunięta folia, zniszczone pudełko) prawo do odstąpienia od umowy Konsumentowi nie przysługuje.<br>

  9. Lib.pl informuje, że w przypadku zamówień na kwotę od 299,00 zł wzwyż, Klient otrzymuje rabat w postaci
  braku doliczenia do ceny towarów kosztów przesyłki. Jeżeli jednak następnie Klient zwróci część towarów, co spowoduje
  obniżenie wartości zamówienia poniżej kwoty 99,00 zł, rabat zostaje anulowany.<br><br>

  <p class="cen">§ 8. Dane osobowe<br></p>

  1. Rejestrując się w Bonito.pl Klient wyraża jednocześnie zgodę na umieszczenie swoich danych osobowych w bazie danych oraz na ich przetwarzanie do celów realizacji zamówienia.<br>

  2. Dane osobowe są chronione zgodnie z Ustawą z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (Dz.U. Nr 133 poz. 883) w sposób uniemożliwiający dostęp do nich osób trzecich.<br>

  3. Zgodnie z Ustawą o ochronie danych osobowych, Klienci mają prawo do wglądu do swoich danych osobowych, ich modyfikowania oraz
  usunięcia. Brak zgody na przetwarzanie danych osobowych uniemożliwia zrealizowanie zamówienia Klienta.<br><br>

  <p class="cen">§ 9. Postanowienia końcowe<br></p>

  1. Przed zakończeniem procedury zamówienia (podsumowanie zamówienia) Klient jest informowany o
  warunkach zawarcia umowy z Bonito.pl. W przypadku akceptacji warunków umowy Klient potwierdza tę
  okoliczność, jak również sam fakt zapoznania się z warunkami umowy, poprzez zaznaczenie właściwej
  opcji w interaktywnym formularzu. Potwierdzenie zawarcia umowy z Lib.pl oraz jej warunków jest
  również przesyłane niezwłocznie na adres e-mail podany przez Klienta w zamówieniu. Dodatkowo, potwierdzenie
  zawarcia umowy oraz jej warunków jest przesyłane Klientowi także w formie pisemnej w chwili dostarczenia zamówionych rzeczy.<br>

  2. Lib.pl informuje, iż Klient będący Konsumentem posiada między innymi następujące możliwości skorzystania z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń:<br>
  – Klient może zwrócić się do wojewódzkiego inspektora Inspekcji Handlowej z wnioskiem o wszczęcie postępowania mediacyjnego w sprawie polubownego zakończenia sporu między Klientem a Lib.pl,<br>
  – Klient może zwrócić się do stałego polubownego sądu konsumenckiego działającego przy Inspekcji Handlowej z wnioskiem o rozstrzygnięcie sporu wynikłego z zawartej z Lib.pl umowy,<br>
  – Klient może uzyskać bezpłatną pomoc w sprawie rozstrzygnięcia sporu między Klientem a Lib.pl, korzystając także z bezpłatnej pomocy powiatowego (miejskiego)
  rzecznika konsumentów lub organizacji społecznej, do której zadań statutowych należy ochrona konsumentów (m.in. Federacja Konsumentów, Stowarzyszenie Konsumentów Polskich).
  Porady udzielane są pod przez Federację Konsumentów pod bezpłatnym numerem infolinii konsumenckiej 800 007 707 oraz w oddziałach terenowych, których adresy są wskazane na
  stronie http://www.federacja-konsumentow.org.pl/63,tu-znajdziesz-pomoc.html oraz przez Stowarzyszenie Konsumentów Polskich pod adresem e-mail: porady@dlakonsumentow.pl.<br>
  – niezbędne informacje i pomoc Klient otrzyma także na stronie internetowej Urzędu Ochrony Konkurencji i Konsumentów pod adresem http://www.uokik.gov.pl/wazne_adresy.php#faq596.<br>
  – Klient może skorzystać z możliwości rozwiązywania sporów drogą elektroniczną za pośrednictwem unijnej platformy internetowej ODR pod adresem http://ec.europa.eu/consumers/odr/.<br>

  3. Obecność towarów na stronach Lib.pl nie stanowi oferty w rozumieniu Kodeksu cywilnego. W sprawach nieuregulowanych w Regulaminie mają zastosowanie przepisy
  Kodeksu cywilnego, a także przepisy Ustawy z dnia 30 maja 2014 roku o prawach konsumenta.<br>

  4. Niniejszy regulamin obowiązuje od dnia 16 czerwca 2017 roku.<br>
</mat-card>
