<mat-card style="min-height: calc(100vh - 190px); box-shadow: none">

  <p style="font-size: 30px; text-align: center">Koszty dostawy </p>
  <p style="font-size: 15px; text-align: center">Jeśli wartość zamówienia nie przekracza <s style="color: red">99zł</s>
    płacisz za dostawe! </p>

  <mat-card style="box-shadow: none">
    <mat-card-header>
      <mat-card-header>
        <div class="header-image1" mat-card-avatar></div>
        <mat-card-title>Poczta Polska - odbiór w punkcie</mat-card-title>
        <mat-card-subtitle>doręczenie do placówki pocztowej, wybranych sklepów Żabka, Freshmarket lub stacji Orle
        </mat-card-subtitle>
        <mat-card-title>
          7,99zł
        </mat-card-title>
      </mat-card-header>
    </mat-card-header>
    <mat-card-header>
      <mat-card-header>
        <div class="header-image2" mat-card-avatar></div>
        <mat-card-title>Poczta Polska - doręczenie do Klienta</mat-card-title>
        <mat-card-subtitle>Do 4 dni roboczych</mat-card-subtitle>
        <mat-card-title>
          8,99zł
        </mat-card-title>
      </mat-card-header>
    </mat-card-header>
    <mat-card-header>
      <mat-card-header>
        <div class="header-image3" mat-card-avatar></div>
        <mat-card-title>Paczka w RUCHu</mat-card-title>
        <mat-card-subtitle>odbiór w kioskach RUCHu</mat-card-subtitle>
        <mat-card-title>
          7,99zł
        </mat-card-title>
      </mat-card-header>
    </mat-card-header>
    <mat-card-header>
      <mat-card-header>
        <div class="header-image4" mat-card-avatar></div>
        <mat-card-title>Kurier Pocztex - doręczenie do Klienta</mat-card-title>
        <mat-card-subtitle>doręczenie do Klienta przez kuriera Poczty Polskiej</mat-card-subtitle>
        <mat-card-title>
          11,99zł
        </mat-card-title>
      </mat-card-header>
    </mat-card-header>
    <mat-card-header>
      <mat-card-header>
        <div class="header-image5" mat-card-avatar></div>
        <mat-card-title>Kurier DPD - doręczenie do Klienta</mat-card-title>
        <mat-card-subtitle>Do 2 dni roboczych</mat-card-subtitle>
        <mat-card-title>
          11,99zł
        </mat-card-title>
      </mat-card-header>
    </mat-card-header>
    <mat-card-header>
      <mat-card-header>
        <div class="header-image6" mat-card-avatar></div>
        <mat-card-title>Paczkomaty InPost</mat-card-title>
        <mat-card-subtitle>dostawa do paczkomatu InPost</mat-card-subtitle>
        <mat-card-title>
          10,99zł
        </mat-card-title>
      </mat-card-header>
    </mat-card-header>
    <mat-card-header>
      <mat-card-header>
        <div class="header-image7" mat-card-avatar></div>
        <mat-card-title>Odbiór osobisty w punkcie odbioru Lib.pl</mat-card-title>
        <mat-card-subtitle>(Brak opłat)</mat-card-subtitle>
        <mat-card-title>
          <p style="color: red">GRATIS</p>
        </mat-card-title>
      </mat-card-header>
    </mat-card-header>
  </mat-card>
</mat-card>
