<mat-card class="input-container">

  <mat-card class="input-card">
    <mat-card style="box-shadow: none; padding-bottom: 40px">
      <mat-card-title style="color: #17af22; float: left; margin-bottom: 30px; font-size: 30px">
        Zapomniałeś hasła?
      </mat-card-title>

      <form (ngSubmit)="onSubmit(emailFormControl.value)" [formGroup]="emailFormControl">
        <mat-form-field appearance="outline" color="accent" style="margin-bottom: 10px">

          <label for="resetEmail"></label>
          <input
            formControlName="email"
            id="resetEmail"
            matInput
            name="email"
            placeholder="Email"
            required
            type="email">
          <mat-error>
            <span *ngIf="!emailFormControl.get('email').valid && emailFormControl.get('email').touched"
                  style="color: red">Email jest wymagany</span>
          </mat-error>
        </mat-form-field>


        <mat-card style="box-shadow: none;">
          <mat-card-title class="fgrpass" style="float: left"></mat-card-title>

          <mat-card-title class="fgrpass" style="float: left">
            <a [routerLink]="['/home']" routerLinkActive="active" style="text-decoration: none; color: black">Home</a>
          </mat-card-title>
          <mat-card-title class="fgrpass" style="float: right">
            <a [routerLink]="['/login']" routerLinkActive="active" style="text-decoration: none; color: black">Login</a>
          </mat-card-title>

          <button [disabled]="!emailFormControl.valid" class="inpbut" color="warn" mat-raised-button type="submit">
            Zresetuj
          </button>
        </mat-card>
      </form>
    </mat-card>
  </mat-card>
</mat-card>


