.inpbut {
  display: table-row;
  width: 100%;
}
.input {
  padding-left: 2%;
  word-spacing: normal;
  letter-spacing: normal;
  width: 100%;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  border: none;
  background: #d3d3d3;
  color: black;
  font-size: 20px;
  outline: none!important;
  line-height: 40px;
  display: table-row;
  text-transform: none;
}
.input-card {
  position: relative;
  justify-content: center;
  width: 250px;
  background: #a5a5a5;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}
.input-container {
  display: flex;
  align-items: center;
  margin: 0 auto 20px auto;
  justify-content: center;
  text-align: center;
  box-shadow: none;
  height: calc(100vh - 190px)
}
.fgrpass {
  float: right;
  font-size: 13px;

}
.underinput {
  box-shadow: none;
  padding: 0;
}

